<%= erb :'_shared/header' %>

<!-- <h1>Track Your Spending</h1> -->
<div class="content">

<p><a href="/tags">View Categories</a> </p>

<p><a href="/transactions/delete"> Clear Transactions  </a> </p>

<p><a href="/transactions/create"> New Transaction  </a> </p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Retailer</th>
      <th>Amount</th>
      <th>Category</th>
      
    </tr>
  </thead>
  <tbody>
    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.shop %></td>
      <td><%= transaction.value %></td>
      <td><%= transaction.tag.name %></td>
    </tr>
    <% end %>
  </tbody>
  
  
</table>

<p>You have spent a total of &pound;<%= sprintf "%#.2f", @total %></p>





<%= erb :'_shared/footer' %>
