<%= erb :'_shared/header' %>

<h1>Transactions</h1>

<p><a href="/tags">View Tags</a> </p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Retailer</th>
      <th>Value</th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.shop %></td>
      <td><%= transaction.value %></td>
      <td><%= transaction.tag.name %></td>
    </tr>
    <% end %>
  </tbody>
  
  
</table>

<p>You have spent a total of &pound;<%= sprintf "%#.2f", @total %></p>




<p><a href="/transactions/delete"> Clear Transactions  </a> </p>

<p><a href="/transactions/create"> New Transaction  </a> </p>
<%= erb :'_shared/footer' %>
